.logo {
 max-width: 75%;
 border: 1px solid #ff7575;
}

.banner {
 width: 100%;
}

.cart-wrapper {
 display: flex;
 height: 100%;
 flex: 1;
 align-items: center;
 justify-content: center;

 span {
  &.quantity-number {
   padding: 4px 10px;
   color: #fff;
   background: red;
   border-radius: 50%;
   font-weight: bold;
   position: relative;
   top: -20px;
   left: -10px;
   font-size: 14px;
  }
 }
}

.cart {
  padding-right: 10px;
}

.spacing {
  margin-top: 2.5rem;
}

@media only screen and (max-width: 800px) {
  .spacing {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .spacing {
    margin-top: 3.5rem;
  }
}