<div class="spacing"></div>
<div class="ui-fluid hidden-xs">
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-10 ui-lg-offset-1 ui-md-10 ui-md-offset-1 ui-sm-6">
      <div class="ui-g">
        <div class="ui-lg-3 ui-md-3 ui-sm-4">
          <a routerLink="/">
            <img src="/assets/demo/logo.jpg"
                 class="logo"
                 alt="">
          </a>
        </div>
        <div class="ui-lg-7 ui-md-7 ui-sm-4">
          <img class="banner" src="https://i.pinimg.com/originals/fb/26/45/fb26459d33dc00ec7eb9eac717c7cd64.jpg" alt="">
        </div>
        <div class="ui-lg-2 ui-md-2 ui-sm-4">
          <div class="cart-wrapper">
            <a routerLink="/mua">
              <button pButton label="Giỏ hàng" styleClass="cart" icon="pi pi-shopping-cart" iconPos="right"></button>
              <!-- <span class="cart">Giỏ hàng <i class="pi pi-shopping-cart"></i></span>  -->
            </a>

            <span class="quantity-number"
                  *ngIf="orderItems.length !== 0">{{orderItems.length}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>