<p-card>
  <p-header>
    <h3 class="header">CHỌN PHƯƠNG THỨC THANH TOÁN</h3>
  </p-header>
  <div>
    <p><strong>Mời bạn lựa chọn thao tác</strong></p>
  </div>
  <p-footer>
    <p><span style="font-weight: bold; color: #069">Chuyển khoản thông thường</span><em> (phí thu ngân hàng, hoàn thành
        trong vòng 48h)</em></p>
    <hr>
    <p><strong>Nộp tiền trực tiếp</strong><em> (miễn phí, hoàn thành 1h)</em></p>
    <p><small>Tầng 1, tòa nhà Packsimex, 52 Đông Du, P.Bến Nghé, Q.1, TP.HCM (028) 6270 3030</small></p>
  </p-footer>
</p-card>
<p-card>
  <p-header>
    <h3 class="header">Chọn ngân hàng chuyển khoản</h3>
  </p-header>
  <div>
    <img class="bank" [src]="srcACB" alt="Ngân hàng ACB">
    <table class="table">
      <tr>
        <td class="label">Tên ngân hàng</td>
        <td class="bank-name">Ngân hàng thương mại cổ phần Á Châu - ACB</td>
      </tr>
      <tr>
        <td class="label">Chi nhánh</td>
        <td class="small"><small>Chi nhánh Ông Bích Khiêm - TP. Hồ Chí Minh</small></td>
      </tr>
      <tr>
        <td class="label">Người thụ hưởng</td>
        <td class="account">{{hecta.name}}</td>
      </tr>
      <tr>
        <td class="label">Số tài khoản</td>
        <td class="account">{{hecta.account_number_acb}}</td>
      </tr>
      <tr>
        <td class="label">Email của bạn</td>
        <td class="user">{{user?.email}}</td>
      </tr>
      <tr>
        <td class="label">SĐT của bạn</td>
        <td class="user">{{user?.phone}}</td>
      </tr>
    </table>
  </div>
  <p-footer>
    <div>
      <img class="bank" [src]="srcDongA" alt="Ngân hàng ACB">
      <table class="table">
        <tr>
          <td class="label">Tên ngân hàng</td>
          <td class="bank-name">Ngân hàng thương mại cổ phần Đông Á - DAB</td>
        </tr>
        <tr>
          <td class="label">Chi nhánh</td>
          <td class="small"><small>Chi nhánh Quận 10 - TP. Hồ Chí Minh</small></td>
        </tr>
        <tr>
          <td class="label">Người thụ hưởng</td>
          <td class="account">{{hecta.name}}</td>
        </tr>
        <tr>
          <td class="label">Số tài khoản</td>
          <td class="account">{{hecta.account_number_donga}}</td>
        </tr>
        <tr>
          <td class="label">Email của bạn</td>
          <td class="user">{{user?.email}}</td>
        </tr>
        <tr>
          <td class="label">SĐT của bạn</td>
          <td class="user">{{user?.phone}}</td>
        </tr>
      </table>
    </div>
    <p style="padding: 10px">
      <strong>Lưu ý:</strong> Để chúng tôi xác minh được bạn là người nạp tiền, bạn vui lòng ghi đúng Email, SĐT của bạn
      vào <strong>Nội dung chuyển tiền</strong> như đã hướng dẫn.
    </p>
  </p-footer>
</p-card>