<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-md-9">
      <div class="ui-grid">
        <h1>{{title}}</h1>
        <div class="ui-grid">
          <span>Tìm kiếm theo các tiêu chí:
            <span class="search-feature">{{title}}</span>.
          </span>
          <span *ngIf="searchFeature?.district">Quận/Huyện:
            <span class="search-feature">{{searchFeature?.district}}</span>.
          </span>
          <span *ngIf="searchFeature?.city">Tỉnh/TP:
            <span class="search-feature">{{searchFeature?.city}}</span>.
          </span>
          <span *ngIf="searchFeature?.priceRange">Giá:
            <span class="search-feature">{{searchFeature?.priceRange}}</span>.
          </span>
          <span>Có:
            <span class="search-feature">{{conf.totalItems}}</span>
            sản phẩm.
          </span>
        </div>
      </div>

      <p-card>
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
          <div *ngFor="let product of products">
            <div class="ui-g-12 ui-md-3 ui-sm-6 ui-lg-3">
              <app-product-item [product]="product"></app-product-item>
            </div>
          </div>
        </div>
      </p-card>

      <div class="ui-grid-row" *ngIf="conf.totalItems > conf.limit">
        <div class="ui-md-7 ui-lg-9">
        </div>
        <div class="ui-g-12 ui-md-7 ui-lg-5">
          <p-paginator [rows]="conf.limit"
                       [totalRecords]="conf.totalItems"
                       pageLinkSize="3"
                       #paginator
                       (onPageChange)="changePage($event)"
                       templateRight></p-paginator>
        </div>
      </div>
    </div>


    <div class="ui-md-3">
      <div class="box-search">
        <h3>Công cụ tìm kiếm</h3>
        <app-search-box [data]="searchQuery"
                        (valueChange)="onSearch($event)">
        </app-search-box>
      </div>
      <!--<div class="filter-search">
        <h3>Bộ lọc tìm kiếm</h3>
      </div>-->
    </div>
  </div>
</div>
