<p-toast [style]="{marginTop: '80px'}"></p-toast>

<span class="pi pi-times-circle"
      style="cursor: pointer;"
      (click)="onHidePopup()"></span>

<p-tabView (onChange)="onChangeTab()"
           #tabView>
  <p-tabPanel style="min-width: 10em" header="Đăng nhập">
    <app-login (loggedIn)="onLoggedIn()"></app-login>
  </p-tabPanel>
  <p-tabPanel style="min-width: 10em" header="Đăng ký">
    <app-register (registered)="onRegisteringSuccessfully($event)"></app-register>
  </p-tabPanel>
</p-tabView>


<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-g">
    <div class="ui-lg-12">
      Đăng nhập bằng hình thức kh ác
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-6 ui-md-6 ui-sm-6">
      <button #googleBtn pButton
              *ngIf="globalService.isPlatformBrowser()"
              class="ui-button-danger"
              id="googleBtn"
              label="Google">
      </button>
    </div>
    <div class="ui-g-12 ui-lg-6 ui-md-6 ui-sm-6">
      <button pButton
              *ngIf="globalService.isPlatformBrowser()"
              class="ui-button-info"
              (click)="loginByFacebook();"
              label="Facebook">
      </button>
    </div>
  </div>
</div>

<p-dialog header="Nhập số điện thoại của bạn"
          [(visible)]="showPhonePopup"
          [baseZIndex]="1070">
  <div class="phone-input">
    <input class="phone-input" type="text"
           pInputText
           [(ngModel)]="phoneInput"
           placeholder="0912356...">
  </div>

  <div style="margin-top: 10px;">
    <button pButton
            *ngIf="globalService.isPlatformBrowser()"
            (click)="sendOTPCode()"
            style="width: 100%"
            type="button"
            [label]="'Xác nhận'"
            [icon]="iconInputResendOTP"></button>
  </div>
</p-dialog>

<p-dialog header="Mã xác thực tài khoản"
          [(visible)]="showOTPPopup"
          [baseZIndex]="1070">
  <div class="ui-inputgroup">
    <input type="number"
           pInputText
           [(ngModel)]="otpInput"
           placeholder="Vote">

    <button pButton
            *ngIf="globalService.isPlatformBrowser()"
            (click)="resendOTPCode()"
            type="button"
            class="ui-button-success"
            [icon]="iconInputResendOTP"></button>
  </div>

  <div style="margin-top: 10px;">
    <button pButton
            *ngIf="globalService.isPlatformBrowser()"
            (click)="confirmAccountByOTPCode()"
            style="width: 100%"
            type="button"
            [label]="'Gửi'"
            [icon]="iconInputResendOTP"></button>
  </div>
</p-dialog>
