<h1>Tra cứu đơn hàng online</h1>
<p-card>
  <div class="ui-g">
    <div class="ui-lg-3 ui-md-3 ui-sm-12">
      Nhập mã đơn hàng cần tìm.
    </div>
    <div class="ui-lg-5 ui-md-5 ui-sm-12">
      <input type="text"
             [(ngModel)]="orderId"
             pInputText
             placeholder="Nhập mã đơn hàng của quý khách.">
    </div>
    <div class="ui-lg-2 ui-md-2 ui-sm-12">
      <button pButton
              (click)="lookUpOrder()"
              type="button"
              label="Tìm kiếm "></button>
    </div>
  </div>
  <div class="ui-g" *ngIf="!!orderResult">
    <hr>
    <div class="ui-lg-12 ui-md-12 ui-sm-12" [ngSwitch]="orderResult.order.status">
      <h3>Cảm ơn bạn đã mua hàng tại FlowerShop.com</h3>
      <p>Tình trạng đơn hàng <b>#{{ orderResult.order.code}}</b>:
        <b style="color: red" *ngSwitchCase="orderStatus.ORDER_NOT_YET_PAID">CHƯA THANH TOÁN</b>
        <b style="color: red" *ngSwitchCase="orderStatus.ORDER_SUCCESS">GIAO HÀNG THÀNH CÔNG</b>
        <b style="color: red" *ngSwitchCase="orderStatus.ORDER_CONFIRMED">CHỜ PHẢN HỒI</b>
        <b style="color: red" *ngSwitchCase="orderStatus.ORDER_PAID">ĐÃ THANH TOÁN</b>
      </p>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
      ĐỊA CHỈ NGƯỜI NHẬN
      <div class="order-lookup-border">
        <b>{{ orderResult.addressInfo.name }}</b>
        <p>{{ orderResult.addressInfo.address }}</p>
        <p><i>Điện thoại: </i>{{ orderResult.addressInfo.phone }}</p>
      </div>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
      THÔNG TIN ĐƠN HÀNG
      <div class="order-lookup-border">
        <p>Ngày đặt hàng: <b>{{ orderResult.order.createdAt | date: 'dd/MM/yyyy'}}</b></p>
        <p>Ngày giao hàng dự kiến: <b>{{ orderResult.order.deliveryTime | date: 'dd/MM/yyyy'}}</b></p>
      </div>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
      ĐƠN HÀNG CHI TIẾT
      <div class="order-lookup-border">
        <div class="ui-g" *ngFor="let productItem of orderResult.orderItems">
          <div class="ui-lg-5 ui-md-5 ui-sm-10">{{ productItem.product.title }}</div>
          <div class="ui-lg-1 ui-md-1 ui-sm-1"><b>x{{ productItem.quantity}}</b></div>
          <div class="ui-lg-4 ui-md-4 ui-sm-4">{{ productItem.price | number:'.0-2'}} đ</div>
        </div>
        <div class="ui-g">
          <div class="ui-lg-6 ui-md-8 ui-sm-12 ui-lg-offset-8">Tổng tiền: <b>{{ orderResult.order.total | number: '.0-2'}} đ</b></div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g" *ngIf="!notifyFlag">
    <div class="ui-lg-12">
      <b style="color: red">Đơn hàng không tồn tại, xin quý khách vui lòng kiểm tra lại mã đơn hàng.</b>
    </div>
  </div>
</p-card>
