<div class="ui-fluid menu-wrap hidden-xs">
  <div class="ui-g">
    <div class="ui-g-12 ui-lg-10 ui-lg-offset-1 ui-md-10 ui-md-offset-1 ui-sm-12">
      <ul class="menu">
        <li>
          <a routerLink="/"
             class="link">
            <span class="pi pi-home"></span>
            Trang chủ
          </a>
        </li>
        <li *ngFor="let item of menuItems">
          <a class="link" [routerLink]="item.link">
            {{item.title}}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="mb-menu-bg"
     (click)="globalService.setToggleMobileMenu()"
     [ngClass]="{open: globalService.getToggleMobileMenu() | async}"></div>

<div class="mb-menu-wrap"
     [ngClass]="{open: globalService.getToggleMobileMenu() | async}">
  <div style="text-align: right">
    <span class="btn-close-menu"
          title="Đóng menu"
          (click)="globalService.setToggleMobileMenu()">
      <span class="pi pi-arrow-left"></span>
    </span>
  </div>
  <ul class="menu">
    <li>
      <a routerLink="/"
         class="link"
         (click)="globalService.setToggleMobileMenu()">
        <span class="pi pi-home"></span>
        Trang chủ
      </a>
    </li>
    <li *ngFor="let item of menuItems">
      <a class="link"
         [routerLink]="[item.link]"
         (click)="globalService.setToggleMobileMenu()">
        {{item.title}}
      </a>
    </li>
  </ul>
</div>
