@import "../../assets/layout/style/variable";

.sales-channel-link {
  & > a {
    padding: 6px;
    font-size: 15px;
    color: black;
    display: block;

    & > span {
      color: darken($color-5, 0%);
    }

    &:hover {
      background-color: lighten($color-3, 25%);
    }

    &.active {
      color: $color-3;
      background-color: lighten($color-3, 20%);
    }
  }
}
