<div class="ui-fluid">
  <div class="ui-g">
    <div class="ui-g-2 ui-md-3 ui-sm-12">
      <!--Dành cho người bán-->
      <p-card [style]="{'margin-top': '20px'}">
        <h4>Quản lý của hàng</h4>

        <div class="sales-channel-link">
          <a routerLink="danh-sach-san-pham"
             routerLinkActive="active">
            <span class="pi pi-list"></span>
            Danh sách sản phẩm
          </a>
        </div>

        <div class="sales-channel-link">
          <a routerLink="dang-san-pham"
             routerLinkActive="active">
            <span class="pi pi-upload"></span>
            Đăng sản phẩm
          </a>
        </div>

        <div class="sales-channel-link">
          <a routerLink="don-dat-hang"
             routerLinkActive="active">
            <span class="pi pi-shopping-cart"></span>
            Đơn hàng
          </a>
        </div>

        <div class="sales-channel-link">
          <a routerLink="thong-ke"
             routerLinkActive="active">
            <span class="pi pi-chart-bar"></span>
            Thống kê
          </a>
        </div>
        <div class="sales-channel-link">
          <a routerLink="chinh-sua-thong-tin-shop"
             routerLinkActive="active">
            <span class="pi pi-pencil"></span>
            Chỉnh sửa thông tin
          </a>
        </div>
      </p-card>
    </div>
    <div class="ui-g-10 ui-md-9 ui-sm-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
