.datetime {
  color: #999;
}
.tool-left {
  float: left;
}
.detail-tools {
  overflow: hidden;
}
.color-blue {
  color: #055699;
}
.icon-social {
  padding: 0 10px;
  display: inline-block;
  vertical-align: top;
}

.title {
  padding: 5px 5px 5px 0;
  font-size: 17px;
  font-weight: bold;
  color: #007ad9;
  word-wrap: break-word;
  margin-bottom: 5px;
}

.summary {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.8;
}

.other-news h2{
  position: relative;
  color: #007ad9;
  font-size: 1.1em;
  white-space: nowrap;
  display: inline-block;
  background-color: #fff;
  padding-right: 20px;
  z-index: 2;
}
.list-news-item {
  position: relative;
}

ul {
  list-style: none;
  margin-left: 15px;
  margin-top: 0px;
}
li {
  color: #055698;
  list-style-type: square;
}

a {
  color: #000;
  line-height: 26px;
  clear: both;
}