@import '../../../assets/layout/style/form.scss';

:host ::ng-deep .ui-steps .ui-steps-item {
  width: 30%;
  color: #6A4E65;
}

.input-address {
  position: relative;

  .pi-spin {
    font-size: 2em;
    position: absolute;
    right: 9px;
    top: 22px;
  }
}