<div class="layout-footer">

  <app-sale-notification-register></app-sale-notification-register>

  <h3>Công ty cổ phần Appnet Technolody</h3>
  <div>Hotline CSKH: +84 984 946 946</div>
  <div>Copyright 2009-2019 flowershop.com</div>
  <div>Email: hotro@flowershop.com | cskh@flowershop.com</div>
  <div>Website đang trong quá trình chạy thử nghiệm</div>
  <div>Ghi rõ nguồn "flowershop.com" khi phát hành lại thông tin từ website này</div>
  <br>
  <div>Trụ sở chính: Tòa nhà Packsimex, 52 Đông du, P.Bến Nghé, Q1, tp.HCM</div>
  <!--<hr>-->
  <!--<div class="wrapper-slogan ui-g">
    <div class="wrapper-slogan-body ui-lg-8 ui-md-8 ui-sm-12">
      <h3>Hơn 15.000 điện hoa được chúng tôi chuyển trong năm qua</h3>
      <p class="wrapper-slogan-body-content">Không có một nơi nào tốt hơn để bạn lựa chọn cho một dịch vụ điện hoa
        chuyên nghiệp ngoài
        flowervn.xyz. Bằng tất cả niềm đam mê và tận tâm, flowervn.xyz luôn chọn những bông hoa tươi nhất và
        sáng tạo lên những mẫu hoa tuyệt vời để chuyển đến người thân yêu của bạn cùng với những lời chúc tốt đẹp. Với
        hơn 15.000 điện hoa được chúng tôi chuyển trong năm qua là một sự khởi đầu cho sự tin tưởng tuyệt vời. Ngoài
        các dịch vụ hoa tươi, hiểu được thêm nhu cầu của bạn, chúng tôi có liên kết với các hãng có uy tín để cung cấp
        thêm các dịch vụ như: Bánh sinh nhật, Chocolate, Gấu bông, kẹo ngọt, trái cây...</p>
      <h3>Cam kết: Nhanh nhất, giá tốt nhất, chất lượng nhất.</h3>
      <p class="wrapper-slogan-body-content">Với sự liên tục cải tiến quy trình, flowervn.xyz nỗ lực đáp ứng trong
        vòng 2 giờ sẽ giao hoa
        cho người nhận, chúng tôi là một số ít công ty phục vụ dịch vụ điện hoa cho cả những mẫu hoa có giá từ 100.000đ
        (5$) mà không có phụ phí gì thêm. Ngoài ra, các mẫu hoa của chúng tôi có xác nhận bảo hành tươi tối thiểu 3 ngày
        trong điều kiện bình thường.</p>
      <h3>Trở thành công ty điện hoa số 1 tại Việt Nam</h3>
      <p class="wrapper-slogan-body-content">Với sự đầu tư nghiêm túc, chúng tôi tập trung nâng cao trải nghiệm người
        dùng (Customer
        Experience) kể cả trên môi trường trực tuyến và ngoại tuyến để đem lại một dịch vụ hoàn hảo xứng đáng trong nỗ
        lực trở thành công ty điện hoa số 1 tại Việt Nam.</p>
      <h3>Cam kết 100% hài lòng</h3>
      <p class="wrapper-slogan-body-content">Với nhiều năm kinh nghiệm phục vụ trong ngành điện hoa, chúng tôi hiểu mức
        độ quan trọng trong
        công việc của mình là truyền tải đúng và đủ thông điệp của người tặng đến người nhận. Vì thế chúng tôi cam kết
        100% sự hài lòng của khách hàng với chúng dịch vụ của chúng tôi. Với bất cứ điều gì không hài lòng bạn đều được
        hoàn lại 100% phí dịch vụ đã chuyển cho chúng tôi.</p>
      <h3>flowervn.xyz là một công ty khởi nghiệp về công nghệ (IT Startup).</h3>
      <p class="wrapper-slogan-body-content">flowervn.xyz được thành lập đầu tiên bởi Appnet Technolody, với mong
        muốn xây dựng một
        hệ sinh thái cho ngành hoa tươi tại Việt Nam đựa trên nền tảng Công Nghệ Thông Tin. Việc ứng dụng công nghệ giúp
        chúng tôi tiết kiệm những quy trình không cần thiết để giảm giá thành sản phẩm và giải quyết được nhiều bài toán
        lớn về chuỗi cung ứng hoa tươi trên cả nước.</p>
      <p style="text-align: center">
        Copyright ©2015, flowervn.xyz, All rights reserved
      </p>
    </div>

    <div class="ui-lg-2 ui-md-2 ui-sm-12 text-left">
      <ul class="text-left" style="list-style: none">
        <li><a routerLink="/danh-muc/tai-quan-1-ho-chi-minh">Mua hoa quận 1</a></li>
        <li><a routerLink="/danh-muc/tai-quan-2-ho-chi-minh">Mua hoa quận 2</a></li>
        <li><a routerLink="/danh-muc/tai-quan-3-ho-chi-minh">Mua hoa quận 3</a></li>
        <li><a routerLink="/danh-muc/tai-quan-4-ho-chi-minh">Mua hoa quận 4</a></li>
        <li><a routerLink="/danh-muc/tai-quan-5-ho-chi-minh">Mua hoa quận 5</a></li>
        <li><a routerLink="/danh-muc/tai-quan-6-ho-chi-minh">Mua hoa quận 6</a></li>
        <li><a routerLink="/danh-muc/tai-quan-7-ho-chi-minh">Mua hoa quận 7</a></li>
        <li><a routerLink="/danh-muc/tai-quan-8-ho-chi-minh">Mua hoa quận 8</a></li>
        <li><a routerLink="/danh-muc/tai-quan-9-ho-chi-minh">Mua hoa quận 9</a></li>
        <li><a routerLink="/danh-muc/tai-quan-10-ho-chi-minh">Mua hoa quận 10</a></li>
      </ul>
    </div>

    <div class="ui-lg-2 ui-md-2 ui-sm-12 text-left">
      <ul class="text-left" style="list-style: none">
        <li><a routerLink="/danh-muc/tai-quan-11-ho-chi-minh">Mua hoa quận 11</a></li>
        <li><a routerLink="/danh-muc/tai-quan-12-ho-chi-minh">Mua hoa quận 12</a></li>
        <li><a routerLink="/danh-muc/tai-quan-tan-binh-ho-chi-minh">Mua hoa quận Tân Bình</a></li>
        <li><a routerLink="/danh-muc/tai-quan-tan-phu-ho-chi-minh">Mua hoa quận Tân Phú</a></li>
        <li><a routerLink="/danh-muc/tai-quan-binh-chanh-ho-chi-minh">Mua hoa huyện Bình Chánh</a></li>
        <li><a routerLink="/danh-muc/tai-can-gio-ho-chi-minh">Mua hoa quận huyện Cần Giờ</a></li>
        <li><a routerLink="/danh-muc/tai-hoc-mon-ho-chi-minh">Mua hoa quận Hooc Môn</a></li>
        <li><a routerLink="/danh-muc/tai-binh-chanh-ho-chi-minh">Mua hoa quận Bình Chánh</a></li>
        <li><a routerLink="/danh-muc/tai-cu-chi-ho-chi-minh">Mua hoa huyện Củ CHi</a></li>
        <li><a routerLink="/danh-muc/tai-go-vap-ho-chi-minh">Mua hoa quận Gò Vấp</a></li>
      </ul>
    </div>
  </div>-->
</div>