<h1>Đơn hàng chi tiết</h1>
<p-card *ngFor="let orderDetail of orderDetails">
  <div class="ui-g">
    <div class="ui-lg-10 ui-md-8 ui-sm-7">
      <b>Shop: {{ orderDetail.shop.name }}</b>
    </div>
    <div class="ui-lg-2 ui-md-4 ui-sm-5"
         [ngSwitch]="orderDetail.status">
      <b *ngSwitchCase="2000">Đơn hàng mới</b>
      <b *ngSwitchCase="2001">Đang đang xử lý</b>
      <b *ngSwitchCase="2002">Đang vận chuyển</b>
      <b *ngSwitchCase="2003">Đã giao</b>
    </div>
    <div class="ui-lg-2 ui-md-4 ui-sm-4 order-detail-image">
      <img [src]="orderDetail.images[0] | appStaticImage: SizeImage.S400"
           alt="">
    </div>
    <div class="ui-lg-10 ui-md-8 ui-sm-8">
      <div>
        <i>{{ orderDetail.title }}</i>
        <hr>
      </div>
      <div>
        <em>Số lượng x {{ orderDetail.quantity }}</em>
        <hr>
      </div>
      <div>
        <strong>Tổng số tiền: {{ orderDetail.price * orderDetail.quantity | number: '.0-2' }} đ</strong>
      </div>
    </div>
  </div>
</p-card>
