<h1>Thống kê tổng quan</h1>

<div class="ui-g">
    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <p-card header="Đơn hàng">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-g">
                    <div class="ui-lg-12 ui-md-12 ui-sm-12 align-center">
                        <label>
                            <strong> {{statisticOrder.orderItemCount}} </strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-8 ui-md-4 ui-sm-12">
                        <label>
                            Đang xử lý
                        </label>
                    </div>
                    <div class="ui-lg-4 ui-md-8 ui-sm-12">
                        <label>
                            <strong> {{statisticOrder.processingOrderItemCount}} </strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-8 ui-md-4 ui-sm-12">
                        <label>
                            Đang giao
                        </label>
                    </div>
                    <div class="ui-lg-4 ui-md-8 ui-sm-12">
                        <label>
                            <strong> {{statisticOrder.onDeliveryOrderItemCount}} </strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-8 ui-md-4 ui-sm-12">
                        <label>
                            Đã hoàn thành
                        </label>
                    </div>
                    <div class="ui-lg-4 ui-md-8 ui-sm-12">
                        <label>
                            <strong> {{statisticOrder.finishedOrderItemCount}} </strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-12 12 ui-sm-12">
                        <button pButton
                                type="button"
                                icon="pi pi-list"
                                iconPos="left"
                                routerLink="/kenh-nguoi-ban/don-dat-hang"
                                class="ui-button-secondary"
                                label="Danh sách đơn hàng"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>

    <div class="ui-lg-6 ui-md-6 ui-sm-12">
        <p-card header="Doanh thu">
            <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                <div class="ui-g">
                    <div class="ui-lg-12 ui-md-12 ui-sm-12 align-center">
                        <label>
                            <strong>{{statisticMoney.revenue | number: '.0-2'}} đ</strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-8 ui-md-4 ui-sm-12">
                        <label>
                            Phí vận chuyển
                        </label>
                    </div>
                    <div class="ui-lg-4 ui-md-8 ui-sm-12">
                        <label>
                            <strong>{{statisticMoney.shippingCost | number: '.0-2'}} đ</strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-8 ui-md-4 ui-sm-12">
                        <label>
                            Phí chiết khấu
                        </label>
                    </div>
                    <div class="ui-lg-4 ui-md-8 ui-sm-12">
                        <label>
                            <strong>{{statisticMoney.discountCost | number: '.0-2'}} đ</strong>
                        </label>
                    </div>
                </div>
                <div class="ui-g">
                    <label>&nbsp;</label>
                </div>
                <div class="ui-g">
                    <label>&nbsp;</label>
                </div>
                <div class="ui-g">
                    <div class="ui-lg-12 12 ui-sm-12">
                        <button pButton
                                type="button"
                                icon="pi pi-list"
                                iconPos="left"
                                class="ui-button-secondary"
                                label="Báo cáo bán hàng tổng hợp"></button>
                    </div>
                </div>
            </div>
        </p-card>
    </div>
</div>


