h1{
  text-transform: uppercase;
  font-family: sans-serif;
  color: #6A4E65;
  font-weight: 500;
}
.box-search, .filter-search{
  border: 2px solid #6A4E65;
  padding: 10px;
  margin-bottom: 1rem;
}
.search-feature {
  color: #6A4E65;
  font-weight: bold;
}