:host {
 position: relative;
 display: block;

 .error-map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(146,146,146,0.76);
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 2em;
  color: white;
  font-weight: bold;
 }
 .autocomplete-box{
  padding-top: 5px;
  padding-bottom: 5px;
 }
 .pac-container {
  z-index: 1100 !important;
 }
}