<div class="form-group" class="autocomplete-box">
  <input pInputText placeholder="Nhập địa chỉ của bạn.."
         autocorrect="off"
         autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
</div>
<agm-map style="height: 300px"
         [zoom]="16"
         [latitude]="_location.latitude"
         [longitude]="_location.longitude">
  <agm-marker [latitude]="_location.latitude"
              [longitude]="_location.longitude"
              [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)">
    <agm-info-window [isOpen]="true">
      <div [innerHTML]="windowInfo"></div>
    </agm-info-window>
  </agm-marker>
</agm-map>

<div class="error-map"
     *ngIf="isErrorAddress">
  Địa chỉ không hợp lệ
</div>