<h1>Danh sách đơn hàng</h1>
<p-card>
  <div class="ui-g">
    <div class="ui-g">
      <div class="ui-lg-3 ui-md-12 ui-sm-6">
        <label>Ngày tạo đơn hàng</label>
      </div>
      <div class="ui-lg-3 ui-md-6 ui-sm-8">
        <p-calendar
            [(ngModel)]="searchCondition.startDate"
            [dataType]="'string'"
            placeholder="Từ ngày"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="1940:2030"></p-calendar>
      </div>
      <div class="ui-lg-3 ui-md-6 ui-sm-8">
        <p-calendar
            [(ngModel)]="searchCondition.endDate"
            [dataType]="'string'"
            placeholder="Đến ngày"
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [monthNavigator]="true"
            [yearNavigator]="true"
            yearRange="1940:2030"></p-calendar>
      </div>
      <div class="ui-lg-4 ui-md-8 ui-sm-8">
<!--        Input here.-->
      </div>
      <div class="ui-lg-2 ui-md-6 ui-sm-6 ui-lg-offset-8">
        <button pButton
                (click)="onSearch()"
                type="button"
                icon="pi pi-search"
                iconPos="left"
                label="Tìm kiếm"></button>
      </div>
      <div class="ui-lg-2 ui-md-6 ui-sm-6">
        <button pButton
                (click)="onReset()"
                type="button"
                icon="pi pi-refresh"
                iconPos="left"
                class="ui-button-secondary"
                label="Đặt lại"></button>
      </div>
    </div>
  </div>
</p-card>
<p-tabView (onChange)="onChangeTabView($event)">
  <p-tabPanel header="Tất cả">
    <app-shop-order-item
        [setToFirstPage]="isFirstPage"
        (statusState)="onStatusChange($event)"
        (pageChange)="onPageChanged($event)"
        [totalItems]="totalItems"
        [orderList]="orderList"></app-shop-order-item>
  </p-tabPanel>
  <p-tabPanel header="Đang vận chuyển">
    <app-shop-order-item
        [setToFirstPage]="isFirstPage"
        (statusState)="onStatusChange($event)"
        (pageChange)="onPageChanged($event)"
        [totalItems]="totalItems"
        [orderList]="orderList"></app-shop-order-item>
  </p-tabPanel>
  <p-tabPanel header="Thành công">
    <app-shop-order-item
        [setToFirstPage]="isFirstPage"
        (pageChange)="onPageChanged($event)"
        [totalItems]="totalItems"
        [orderList]="orderList"></app-shop-order-item>
  </p-tabPanel>
  <p-tabPanel header="Mới">
    <app-shop-order-item
        [setToFirstPage]="isFirstPage"
        (statusState)="onStatusChange($event)"
        (pageChange)="onPageChanged($event)"
        [totalItems]="totalItems"
        [orderList]="orderList"></app-shop-order-item>
  </p-tabPanel>
</p-tabView>


<p-confirmDialog header="Cảnh báo!" icon="pi pi-exclamation-triangle"></p-confirmDialog>
