<form [formGroup]="searchForm">
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn chủ đề hoa:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'text'"
                    placeholder="--Chủ đề hoa--"
                    [options]="topics"
                    [showClear]="true"
                    (ngModelChange)="onTopicChanged($event)"
                    formControlName="topic">
        </p-dropdown>
      </div>
    </div>
    <div *ngIf="isFreshFlower" class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn dịp lễ:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'text'"
                    placeholder="--Dịp lễ đặc biệt--"
                    [options]="specials"
                    [showClear]="true"
                    formControlName="specialOccasion">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn kiểu dáng hoa:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'text'"
                    placeholder="--Kiểu dáng hoa--"
                    [options]="designs"
                    [showClear]="true"
                    formControlName="design">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn loại hoa:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'text'"
                    placeholder="--Loại hoa--"
                    [options]="florets"
                    [showClear]="true"
                    formControlName="floret">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn màu sắc:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'text'"
                    placeholder="--Màu sắc--"
                    [options]="colors"
                    [showClear]="true"
                    formControlName="color">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn thành phố:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'name'"
                    placeholder="--Chọn thành phố--"
                    [options]="cities"
                    formControlName="city"
                    [showClear]="true"
                    (ngModelChange)="onChangeCity($event)">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn quận/huyện:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'name'"
                    placeholder="--Chọn quận/huyện--"
                    [options]="districts"
                    formControlName="district">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row">
      <!-- <div class="ui-grid-col-2">
        Chọn mức giá:
      </div> -->
      <div class="ui-grid-col-12">
        <p-dropdown [optionLabel]="'text'"
                    placeholder="--Chọn mức giá--"
                    [options]="price"
                    [showClear]="true"
                    formControlName="priceRange">
        </p-dropdown>
      </div>
    </div>
    <div class="ui-grid-row" id="search">
      <button pButton
              *ngIf="globalService.isPlatformBrowser()"
              type="button"
              label="Tìm kiếm"
              (click)="onSearch()"
              class="ui-button-rounded"
              id="btn-search"></button>
    </div>
  </div>
</form>