<div class="container">

  <form action="" novalidate *ngIf="form" [formGroup]="form" class="form">
    <div class="form-title">Đăng ký nhận thông báo khuyến mãi ngay!</div>
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
      <div class="ui-grid-col-9">
        <input pInputText [formControlName]="'email'" id="email" type="text" placeholder="Nhập địa chỉ email của bạn" />
      </div>
      <div class="ui-grid-col-3">
        <button pButton type="button" label="Đăng ký" class="ui-button-raised submit-button"
          [disabled]="form.invalid" (click)="submitForm()"></button>
      </div>
    </div>
  </form>
</div>