.container {
  .form {
    padding: 0 20px 40px 20px;
    width: 50%;

    display: table;
    margin: 0 auto;

    .form-title {
      padding: 15px;
      font-size: 20px;
      color: yellow;
      font-weight: bold;
    }

    .submit-button {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      padding: 0.5px;
    }
  }
}
