<h1>Quản lý đơn hàng</h1>

<p-card>
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
       style="margin: 10px 0px">
    <div class="ui-g">
      <div class="ui-g-12">
        <p-table [value]="orders">
          <ng-template pTemplate="header">
            <tr>
              <th class="col-order-code">Mã đơn hàng</th>
              <th class="col-order-buy-at">Ngày mua</th>
              <th>Sản phẩm</th>
              <th class="col-order-price">Tổng tiền</th>
              <th class="col-order-status">Trạng thái đơn hàng</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body"
                       let-order>
            <tr>
              <td style="text-align: center;">
                {{order.code}}
              </td>
              <td style="text-align: center;">{{order.createdAt | date:'yyyy-MM-dd'}}</td>
              <td>
                <div *ngFor="let productName of order.productNames">
                  {{productName}}
                </div>

                <a routerLink="chi-tiet/{{order._id}}">Chi tiết đơn hàng</a>
              </td>
              <td style="text-align: right">{{order.total || 0 | number: '1.'}}đ</td>
              <td>
                <span [ngSwitch]="order.status">
                  <span *ngSwitchCase="1004">
                    Đang xử lý đơn hàng
                  </span>
                  <span *ngSwitchCase="1002">
                    Hoàn tất
                  </span>
                </span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </div>
</p-card>