<div class="text-center">
	<p-card>
		<h1>Xác nhận đăng ký tài khoản</h1>
		<p-message 
			*ngIf="isCorrectToken === true" 
			severity="success"
			text="Đăng ký tài khoản thành công, vui lòng quay lại trang chủ để đăng nhập !"></p-message>
		<p-message 
			*ngIf="isCorrectToken === false" 
			severity="error" 
			text="Mã token không đúng, vui lòng kiểm tra lại !"></p-message>
	
		<br>
		<p-button label="Đăng nhập"
							*ngIf="globalService.isPlatformBrowser() && isCorrectToken"
							(click)="showLogin()"></p-button>
	
		<div *ngIf="!isCorrectToken" class="text-center">
			<p>Mã xác nhận của bạn không đúng</p>
			<p>Gửi lại mã xác nhận đến email bên dưới</p>
			<form *ngIf="!isCorrectToken" [formGroup]="resendForm">
				<div class="ui-g">
					<div class="ui-lg-4 ui-md-4"></div>
					<div class="ui-lg-3 ui-md-3 ui-sm-12">
							<input  type="text"
											formControlName="email"
											*ngIf="globalService.isPlatformBrowser()"
											pInputText
											placeholder="Nhập email tài khoản của bạn"
											autocomplete="off"/>
		
						<div *ngFor="let message of getErrorMessages(resendForm, 'email')" class="error-msg text-left">{{message}}</div>
					</div>
					<div class="ui-lg-2 ui-md-2 ui-sm-12">
							<p-button label="Gửi lại mã xác nhận"
											[disabled]="resendForm.invalid"
											*ngIf="globalService.isPlatformBrowser()"
											(click)="onSubmit()"></p-button>
					</div>
				</div>		
			</form>
		</div>
		<br>
	</p-card>
</div>