<div class="ui-fluid">
  <div class="ui-g">
    <h2>Giỏ hàng</h2>
  </div>
  <div class="ui-g">
    <div class="ui-md-10 ui-sm-12">
      <div *ngIf="orderItems.length === 0">
        <h2>Giỏ hàng trống</h2>
      </div>
      <div *ngFor="let item of orderItems; let i=index"
           style="margin-bottom: 10px">
        <p-card>
          <div class="ui-g" *ngIf="orderItems.length>0">
            <div class="ui-md-2 ui-g-12 ui-sm-6">
              <div class="product-image">
                <div class="product-image-w">
                  <img src="{{item.product.images[0] | appStaticImage: SizeImage.S400}}"
                       [alt]="item.product.title">
                </div>
              </div>
            </div>
            <div class="ui-md-5 ui-g-12 ui-sm-6">
              <h3>{{item.product.title}}</h3>

              <p style="margin-bottom: 10px;"><strong>Cung cấp bởi:</strong> {{item.shop.name}}</p>

              <p-button (click)="onRemoveItem(item._id, i)"
                        styleClass="ui-button-danger"
                        *ngIf="globalService.isPlatformBrowser()"
                        [icon]="'pi pi-trash'"
                        label="Xóa"></p-button>

              <!-- <p-button 
                            styleClass="ui-button-danger"
                            *ngIf="globalService.isPlatformBrowser()"
                            label="Để dành mua sau"></p-button> -->
            </div>
            <div class="ui-md-2 ui-lg-1 ui-sm-6">
              <p-spinner size="30"
                         [(ngModel)]="item.quantity"
                         (onChange)="onChangeQuantity($event, item)"
                         [min]="1"
                         [max]="100"></p-spinner>
            </div>
            <div class="ui-lg-3 ui-md-3 ui-sm-6" style="text-align: center;">
              <div class="ui-g">
                <div class="ui-lg-12 ui-md-12 ui-sm-12"
                     *ngIf="!item.product.saleOff.active">
                  <b>{{item.product.originalPrice * item.quantity | number: '.0-2'}} đ</b>
                </div>
                <div class="ui-g" *ngIf="item.product.saleOff.active">
                  <div class="ui-lg-12 ui-md-12 ui-sm-12">
                    <span style="text-decoration: line-through;">
                      {{item.product.originalPrice * item.quantity | number: '.0-2'}} đ
                    </span>
                  </div>
                  <div class="ui-lg-12 ui-md-12 ui-sm-12">
                    <span id="discount">
                      Giảm {{100 - item.product.saleOff.price * 100 / item.product.originalPrice | number:'1.0-0'}} %
                    </span>
                  </div>
                  <div class="ui-lg-12 ui-md-12 ui-sm-12">
                    <b>{{item.product.saleOff.price * item.quantity | number: '.0-2'}} đ</b>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </p-card>
      </div>

    </div>
    <div class="ui-md-2 ui-sm-6 ui-sm-offset-6">
      <!--<p>Tạm tính: {{total | number: '.0-2'}}đ</p>-->
      <!--<hr>-->
      <div style="font-weight: 600; font-size: 16px;">Thành tiền:</div>
      <div style="text-align: right; font-size: 20px">{{total | number: '.0-2'}} đ</div>
      <div style="text-align: right;">
        <small>(Đã bao gồm VAT)</small>
      </div>
      <p-button (click)="onCheckout()"
                style="width: 100%; margin-top: 20px;"
                [disabled]="orderItems.length === 0"
                styleClass="ui-button-success"
                *ngIf="globalService.isPlatformBrowser()"
                label="Tiến hành đặt hàng"></p-button>
    </div>
  </div>
</div>
