<div>
  <div class="ui-grid-col-12">
    <div class="card">
      <div class="product-image">
        <div *ngIf="showSaleOff" class="product-sale-text">
          Giảm giá
        </div>
        <a routerLink="/chi-tiet-san-pham/{{product?.slug}}"
           [title]="product.title">
          <img class="card-img-top"
               [alt]="product.title"
               [src]="product?.thumbnail | appStaticImage: SizeImage.S400">
        </a>
      </div>

      <div class="card-block">
        <h5 class="card-title">
          <a routerLink="/chi-tiet-san-pham/{{product?.slug}}"
             title="{{product.title}}"
             class="product-name">
            {{ product.title }}
          </a>
        </h5>
      </div>

      <div class="card-footer"
           [ngClass]="{'align-center': product.saleOff?.active !== true}">
        <div *ngIf="!product.saleOff?.active" class="align-center" style="line-height: 36px;">
          <span> {{ product?.originalPrice | number: '.0-2'}} ₫</span>
        </div>

        <div *ngIf="product.saleOff?.active" class="align-center">
          <div>{{ product?.saleOff?.price | number: '.0-2'}} ₫</div>
          <div class="original-price">{{ product?.originalPrice | number: '.0-2'}} ₫ </div>
        </div>

        <!--<p-progressBar class="progressBarDelay"-->
                       <!--[style]="{'margin-top': '.6em', 'height': '5px'}"-->
                       <!--*ngIf="showSaleOff"-->
                       <!--[value]="countdown"></p-progressBar>-->
      </div>

      <!--<div *ngIf="showSaleOff"-->
           <!--class="countdown">-->
        <!--<div>-->
          <!--<div>Kết thúc sau: {{day}} ngày</div>-->
          <!--<div>{{hour | number: '2.0'}} giờ {{minute | number: '2.0'}} phút {{second | number: '2.0'}} giây</div>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>
