@import "../../../assets/layout/style/variable";

.product-image-wrap {
 position: relative;

 .action-icon {
  z-index: 2;
 }

 .product-checkbox {
  position: absolute;
  display: inline-block;
  top: 5px;
  left: 5px;
 }

 .product-icon-edit {
  position: absolute;
  display: inline-block;
  top: 32px;
  left: 3px;
  font-size: 22px;
  color: darken(blue, 30%);
 }

 .product-hidden-icon {
  position: absolute;
  right: 1px;
  top: 2px;
  font-weight: bold;
  color: $color-4;
  font-size: 22px;
 }

 .product-image {
  position: relative;
  width: 130px;
  height: auto;
  padding-top: 75%;
  overflow: hidden;

  img {
   position: absolute;
   width: 100%;
   top: 50%;
   transform: translateY(-50%);
  }
 }
}

.product-content-wrap {
 margin-top: 10px;

 .product-title {
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  white-space: nowrap;
 }

 .product-price{
  min-height: 70px;
  padding-top: 10px;

  .product-original-price {
   text-align: center;
   padding-top: 15px;
  }

  .product-sale-off-price {
   text-align: center;
   span {
    margin: 10%;
   }
  }
 }
}
