<div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid">
  <div class="ui-grid-row">
    <div class="ui-grid-col-6">
      <h1>Sổ địa chỉ</h1>
    </div>
    <div class="ui-grid-col-6">
      <button
              pButton
              *ngIf="globalService.isPlatformBrowser()"
              (click)="openDialog()"
              type="button"
              [icon]="'pi pi-plus'"
              [label]="'Thêm địa chỉ mới'"
      ></button>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12 ui-lg-6 ui-md-6" *ngFor="let address of listAddress">
      <p-card>
        <h5>{{ address.name }}</h5>
        <p>{{ address.addressText }}</p>
        <p>{{ address.phone }}</p>
        <div class="ui-grid-row">
          <div class="ui-grid-col-6">
            <div class="ui-toolbar-group-left">
              <button
                      pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      (click)="openDialog(address)"
                      type="button"
                      label="Chỉnh sửa"
              ></button>
            </div>
          </div>
          <div class="ui-grid-col-6">
            <div class="ui-toolbar-group-right">
              <button
                      pButton
                      *ngIf="globalService.isPlatformBrowser()"
                      (click)="removeAddress(address._id)"
                      type="button"
                      label="Xoá"
                      class="ui-button-danger"
              ></button>
            </div>
          </div>
        </div>
      </p-card>
      ̰
    </div>
  </div>
</div>

<form [formGroup]="form"
      (ngSubmit)="onSubmit()">
  <p-dialog header="Địa chỉ"
            #addressDialog
            (onShow)="onDialogAddressShowed()"
            [draggable]="false"
            [(visible)]="display"
            [breakpoint]="500"
            [modal]="true"
            [responsive]="true"
            [style]="{ width: '800px', minWidth: '300px' }"
            [minY]="70"
            [dismissableMask]="true"
            [maximizable]="true"
            [blockScroll]="true"
            [baseZIndex]="10000">
    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid"
         style="margin: 10px 0px">
      <div class="ui-g">
        <div class="ui-g-12 ui-lg-12 ui-sm-12">
          <div class="ui-g">
            <div class="ui-lg-6 ui-md-6 ui-sm-12">
              <label>
                Họ Tên (*)
              </label>
              <input pInputText
                     *ngIf="globalService.isPlatformBrowser()"
                     [formControlName]="'name'"
                     id="Name"
                     type="text"/>

              <div>
                <div *ngFor="let message of getErrorMessages(form, 'name')"
                     style="color: red">
                  {{ message }}
                </div>
              </div>
            </div>
            <div class="ui-lg-6 ui-md-6 ui-sm-12">
              <label>Số điện thoại (*)</label>
              <p-inputMask id="Phone"
                           [autoClear]="false"
                           [slotChar]="''"
                           [formControlName]="'phone'"
                           mask="999999999999"></p-inputMask>

              <div>
                <div *ngFor="let message of getErrorMessages(form, 'phone')"
                     style="color: red">
                  {{ message }}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="ui-g">
        <div class="ui-g-12 ui-lg-12 ui-sm-12">
          <label>Địa chỉ (*)</label>
          <div>
            <app-map (valueChanged)="onMapChanged($event)"
                     [formControlName]="'address'"></app-map>
          </div>
          <div>
            <div *ngFor="let message of getErrorMessages(form, 'address')"
                 style="color: red">
              {{ message }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <p-footer>
      <button type="button"
              *ngIf="globalService.isPlatformBrowser()"
              pButton
              icon="pi pi-close"
              label="Thoát"
              class="ui-button-secondary"
              (click)="display = false"></button>

      <button type="button"
              *ngIf="globalService.isPlatformBrowser()"
              pButton
              icon="pi pi-replay"
              label="Nhập lại"
              class="ui-button-warning"
              (click)="resetAddAddressForm()"></button>

      <button *ngIf="globalService.isPlatformBrowser()"
              type="submit"
              [disabled]="form.invalid"
              pButton
              icon="pi pi-check"
              label="Lưu"></button>
    </p-footer>
  </p-dialog>
</form>

<p-toast></p-toast>

<p-confirmDialog header="Confirmation"
                 icon="pi pi-exclamation-triangle"></p-confirmDialog>
