@import '../../assets/layout/style/variable.scss';


.section{
  //padding: 10px;
  background: #fff;
  margin-bottom: 1em;
  &.section__featured-products {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .promotion{
    display: none;
  }
}

.align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.wrapper {
  text-align: center;
}

.btn-more{
  text-align: center;
  width: 200px;
  color: $color-5;
  background: white;
  border-color: $color-5;
}

.btn-more:hover{
  background: $color-5;
  border-color: white;
}

.ad-banners {
  img {
    width: 100%;
  }
}

.box-search {
  .title {
    text-transform: uppercase;
    font-family: sans-serif;
    color: $color-5;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 10px;
  }
}

h2 {
  text-transform: uppercase;
  font-family: sans-serif;
  color: $color-5;
  font-weight: 500;
  margin-top: 0;
}