<div class="layout-topbar">
  <div class="layout-topbar-content">
    <span class="show-xs icon-toggle-menu"
          title="Mở menu"
          (click)="globalService.setToggleMobileMenu()">
      <span class="pi pi-bars"></span>
    </span>

    <ul class="left-menu hidden-xs">
      <li *ngIf="isLogin && type===userType.UserAsShop">
        <a routerLink="/kenh-nguoi-ban/danh-sach-san-pham">
          Kênh người bán
        </a>
      </li>
      <li>
        <a routerLink="/tra-cuu-don-hang">
          <i class="pi pi-info-circle"></i>
          Kiểm tra đơn hàng
        </a>
      </li>
      <li *ngIf="!isLogin || type === userType.NormalUser">
        <a routerLink="/dang-ki-ban-hang">
          Đăng kí bán hàng
        </a>
      </li>
    </ul>

    <ul class="left-menu show-xs">
      <li *ngIf="isLogin && type===userType.UserAsShop">
        <a class="icon-toggle-menu"
           routerLink="/kenh-nguoi-ban/danh-sach-san-pham">
          <span class="pi pi-users"></span>
        </a>
      </li>

      <li *ngIf="!isLogin || type===userType.NormalUser">
        <a class="icon-toggle-menu"
           routerLink="/dang-ki-ban-hang">
          <span class="pi pi-users"></span>
        </a>
      </li>
    </ul>

    <ul class="left-menu show-xs">
      <li>
        <a class="icon-toggle-menu"
           routerLink="/tra-cuu-don-hang">
          <i class="pi pi-info-circle"></i>
        </a>
      </li>
    </ul>

    <ul class="right-menu">
      <li class="hidden-xs"
          *ngIf="isLogin">
        <a routerLink="/trang-ca-nhan/thong-bao">
          <span class="pi pi-info"></span>
          Thông báo
        </a>
      </li>
      <li class="hidden-xs">
        <a>
          Trợ giúp
        </a>
      </li>

      <li class="show-xs">
        <a class="icon-toggle-menu"
           (click)="onUserAction()">
          <span class="pi pi-user"></span>
        </a>
      </li>

      <li class="show-xs">
        <a class="icon-toggle-menu"
           routerLink="/mua">
          <span class="pi pi-shopping-cart"></span>

          <span class="quantity-number"
                *ngIf="orderItems.length !== 0">{{orderItems.length}}</span>
        </a>
      </li>

      <li *ngIf="isLogin" class="show-xs hidden-md">
        <a class="icon-toggle-menu"
           (click)="onLogout()">
          <span class="pi pi-power-off"></span>
        </a>
      </li>

      <li *ngIf="!isLogin" class="hidden-xs">
        <a (click)="show()">
          <span class="pi pi-user"></span>
          Đăng nhập/Đăng ký
        </a>
      </li>
      <li *ngIf="isLogin" class="hidden-xs">
        <a routerLink="/trang-ca-nhan/thong-bao">
          <span class="pi pi-user"></span>
          {{userInfo.email}}
        </a>
      </li>
      <li *ngIf="isLogin" class="hidden-xs">
        <a (click)="onLogout()">
          Đăng xuất
        </a>
      </li>
    </ul>
  </div>
</div>

<p-dialog header=""
          #authPopup
          [showHeader]="false"
          [draggable]="false"
          [(visible)]="showAuthPopup"
          [breakpoint]="500"
          [modal]="true"
          [responsive]="true"
          [style]="{ width: '800px', minWidth: '300px' }"
          [dismissableMask]="true"
          [maximizable]="true"
          [blockScroll]="true"
          [autoZIndex]="true"
          [baseZIndex]="1050">
  <app-popup [(showAuthPopup)]="showAuthPopup"
             (changeTab)="resetCenterPopup()"></app-popup>
</p-dialog>