@import '../../assets/layout/style/variable.scss';

.box-search,
.filter-search {
  border: 2px solid $color-5;
  padding: 10px;
  margin-bottom: 1rem;
}

:host ::ng-deep .ui-panel-images {
  width: 100%;
}

.social {
  margin-top: 0.5em;
  padding: 5px;
  border: 2px solid $color-5;
  background: #fff;
  text-align: center;
  &--item:not(:last-child) {
    margin-right: 2em;
  }
}

#original-price{
  text-decoration: line-through;
  margin-right: .5em;
}

#discount{
  margin-left: 1em;
  padding: 0 10px 0 10px;
  border: 1px solid $color-4;
  background: $color-4;
  border-radius: 30px;
  color: #fff;
  font-weight: bold;
}

.ui-spinner {
  width: 25%;
}

.btn-cart {
  margin-top: 20px;
  color: $color-5 !important;
  background: #fff;
  border: none;
  cursor: pointer;
}

.btn-buy {
  padding: 5px;
  background: $color-5;
  border-color: $color-5;
}

.section-seller {
  padding: 5px;
  border: 2px solid $color-5;
  background: #fff;
}

.seller-description {
  margin-left: 0.5em;
}

.products-similar {
  padding: 5px;
  border: 2px solid $color-5;
  background: #fff;
}

@media only screen and (max-width: 900px) {
  .spacing {
    white-space: pre;
  }
}


@media only screen and (max-width: 640px) {
  .social{
    width: 100%;
  }
}