.top-right-buttons{
  position: absolute;
  top: 0;
  right:5px;
}
.top-right-button {
  padding: 10px;
  background-color: #f4f4f4;
  cursor: pointer;
  border: 1px solid #c8c8c8;
}
.top-right-button:hover {
  background-color: #c8c8c8;
}
.list-active{
  background-color: #007ad9;
  border: 1px solid #007ad9;
  color: white;
}
