<div class="item clearfix">
  <div class="thumb-img">
    <a title="{{news.title}}" routerLink="/tin-tuc/{{news.url}}">
      <img [src]="news?.image | appStaticImage: SizeImage.S400" alt=""></a>
  </div>
  <div class="content-right">
    <div>
      <a routerLink="/tin-tuc/{{news.url}}" title="{{news.title}}">{{news.title}}
      </a>
    </div>
    <div class="datetime">{{news.createdAt | date: 'dd-MM-yyyy'}}</div>
    <div class="description">
      {{news.description}}
    </div>
  </div>
</div>


