<div class="intro-bottom  clearfix" *ngIf="textEndPage != ''">
  <div class="intro-wrap content-full-mobile">
    <div class="content"> <strong [innerHTML]="textEndPage"></strong>
    </div>
  </div>
</div>
